@import url('variables.css');

html, body
{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body
{
    background-color: var(--primary) !important;
}

.button
{
    background-color: var(--secondary);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
    color: rgb(240, 240, 240);
    border-radius: 30px;
    cursor: pointer;
}

.button:hover
{
    background-color: rgb(50, 50, 50);
}