<script src="../assets/js/nav.js"></script>
<nav class="navbar shadow d-flex flex-row">
    <div class="col-lg-2 col">
        <p class="p-0 m-0 p">Portfolio</p>
    </div>
    <div class="d-block d-lg-none">
        <img class="me-4" src="../assets/icons/hamburger.png" width="20" height="20">
    </div>
    <div class="d-lg-block d-none">
        <div class="container p-2 pe-5 justify-content-end">
            <div class="row me-5 pe-5">
                <div id="home" class="col-sm ps-4 pe-4">
                    <a href="/">Home</a>
                    <div class="indicator mt-1 d-block d-none"></div>
                </div>
                <div id="about" class="col-sm ps-4 pe-4">
                    <a href="/about">About</a>
                    <div class="indicator mt-1 d-block d-none"></div>
                </div>
                <div id="skills" class="col-sm ps-4 pe-4">
                    <a href="/skills">Skills</a>
                    <div class="indicator mt-1 d-block d-none"></div>
                </div>
                <div id="education" class="col-sm ps-4 pe-4">
                    <a href="/education">Education</a>
                    <div class="indicator mt-1 d-block d-none"></div>
                </div>
                <div id="work" class="col-sm ps-4 pe-4">
                    <a href="/work">Work</a>
                    <div class="indicator mt-1 d-block d-none"></div>
                </div>
                <div id="contact" class="col-sm ps-4 pe-4">
                    <a href="/contact">Contact</a>
                    <div class="indicator mt-1 d-block d-none"></div>
                </div>
            </div>
        </div>    
    </div>
</nav>